{% extends 'base.html' %}

{% block title %}
    Город
{% endblock title %}


{% block content %}

<h1>Поезда детально</h1>
<div class="row">
    <div class="col-md">

        <p></p>
        <p></p>
        <p></p>

            <p> Поезд: {{object.name}}</p>

        <p></p>
        <p></p>
        <p></p>

    </div>
</div>
<div class="row">
    <div class="col-md">

           <a href="{% url 'trains:trains_all' %}"> <button type="button" class="btn btn-light"> Назад к списку </button></a>

    </div>
</div>

{% endblock content %}