{% extends 'base.html' %}

{% block title %}
   Форма регистрации
{% endblock title %}


{% block content %}

<h1> Форма регистрации </h1>

<div class="row">
        <div class="col-md-4"> <!-- раздел который занимает 4 колонки на странице (ограничивает поле до 4х колонок)-->
          <form action="{{ action }}" method="post">
             {% csrf_token %}
             {{ form1.as_p }}
             <button type="submit" class="btn btn-success">Зарегистрироваться</button>
          </form>
        </div>
    </div>



{% endblock content %}